.ff-r {
  font-family: "Roboto", sans-serif;
}
.ff-rs {
  font-family: "Roboto Slab", serif;
}

.bg-brand {
  background-color: var(--brand-color);
}
.bg-accent {
  background-color: var(--accent-color);
}
.bg-accent-100 {
  background-color: var(--accent-color-100);
}
.bg-accent-100-i {
  background-color: var(--accent-color-100) !important;
}
.bg-accent-i {
  background-color: var(--accent-color) !important;
}
.bg-accent-100-o60 {
  background-color: var(--accent-color-100-o60);
}
.bg-accent-100-o60-i {
  background-color: var(--accent-color-100-o60) !important;
}
.bg-accent-100-o72 {
  background-color: var(--accent-color-100-o72);
}
.bg-accent-100-o72-i {
  background-color: var(--accent-color-100-o72) !important;
}
.bg-gray {
  background-color: var(--background-gray);
}

.b-accent-100-o60 {
  border-color: var(--accent-color-100-o60);
}

.accent-100-o60 {
  color: var(--accent-color-100-o60);
}

.accent-100-o60 {
  color: var(--accent-color-100-o60) !important;
}
.pl {
  color: var(--primary-light);
}
.sl {
  color: var(--secondary-light);
}
.pd {
  color: var(--primary-dark);
}
.sd {
  color: var(--secondary-dark);
}
.bpl {
  color: var(--brand-color);
}
.bsl {
  color: var(--brand-secondary);
}
.f-pl {
  color: var(--primary-light);
}
.f-sl {
  color: var(--secondary-light);
}
.brand {
  color: var(--brand-color);
}
.brand-sl {
  color: var(--brand-color);
  opacity: 0.72;
}
.accent {
  color: var(--accent-color);
}

.b-pl {
  border-color: var(--primary-light);
}

.b-sl {
  border-color: var(--secondary-light);
}

.pa3_5 {
  padding: calc(var(--spacing-medium) + var(--spacing-small));
}

.ep-w {
  width: var(--extension-popup-width);
}
.ep-h {
  height: var(--extension-popup-height);
}
.ep-mh {
  min-height: var(--extension-popup-height);
}

.d-maxw {
  max-width: var(--desktop-max-width);
}

.maxh-1200 {
  max-height: 1200px;
}

.h42 {
  height: 42px;
}
.h42-i {
  height: 42px !important;
}
.sq36 {
  width: 36px;
  height: 36px;
}

.flex-shrink-0 {
  flex-shrink: 0;  
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.vis-h {
  visibility: hidden;
}

.f2-r {
  font-size: 1.75rem;
}

.vh-packed {
  visibility: hidden;
}

.vh-packed[data-packed] {
  visibility: visible;
}
